@import "tailwindcss";

@theme {
   --color-purple-dark: #6944B2;
   --color-purple-light: #C2BAE3;
   --color-purple-ultralight:#c2bae373;
   --color-pink-dark: #BE3150;
   --color-pink-light: #DE5170;
   --color-yellow: #DE5170;
   --color-white: #FFFFFF;
   --color-black: #000000;
   --font-gabarito: Gabarito, sans-serif;
   --color-modal-background: #00000080;
   /** rgb(0.72 0.11 178); */ 
}

.banner-parallax {
    background-image: url('../assets/banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 20rem;
    width: 100%;
    position: relative;
}

@media (max-width: 768px) {
  .banner-parallax {
    background-attachment: scroll; 
  }
}